
@function choose-contrast-color($color)
    @if (lightness( $color ) > 60)
        @return black
    @else
        @return white

::selection
    background-color: $primary-color
    color: choose-contrast-color($primary-color)

@media (prefers-color-scheme: dark)
    body
        background-color: lighten(black, 20%)
        color: white
@if $dark-theme
    body
        background-color: lighten(black, 20%)
        color: white