
.fill-page
    height: 100vh

.vertical-tile
    display: flex
    flex-flow: column

.horizontal-tile
    display: flex
    flex-flow: row

.fill-remaining
    flex: 1

.full-height
    height: 100%

.full-width
    width: 100%

.half-height
    height: 50%

.half-width
    width: 50%

.sticky:not(.navbar)
    position: sticky
    top: 0

@media only screen and (max-width: 768px)
    .horizontal-tile
        flex-flow: column
    .half-width
        width: 100%