
*:not(code)
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif

p, h1, h2, h3, h4, h5
    line-height: 1.4

p.big
    font-size: 1.2em
    
p.small
    font-size: 0.8em

p.italic
    font-style: italic

p.bold
    font-weight: bold

h1
    font-size: 2.2rem
    border-bottom: 2px solid lighten(black, 40%)

h2
    font-size: 2rem
    font-weight: normal

h3
    font-size: 1.3rem

h4
    font-size: 1.3rem
    font-weight: normal

h5
    font-size: 1rem

:not(pre) > code
    font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace
    background-color: lighten(black, 10%)
    color: white
    padding: 3px
    font-size: 0.8em
    border-radius: 2px

pre
    font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace
    background-color: lighten(black, 10%)
    color: white
    padding: 15px
    margin: 0

pre:not(.wrap)
    overflow-x: auto

blockquote
    margin: 0
    padding: 10px
    border-left: 2px solid grey
    font-style: italic

blockquote cite, blockquote footer
    display: block
    font-style: normal
    margin-top: 10px

.icon
    vertical-align: middle
    height: 1.5em

.wrap
    white-space: pre-wrap

@media only screen and (max-width: 768px)
    ul
        padding-left: 20px
