
.box
    padding: 15px

.box.outlined
    outline: 2px solid grey

.box.primary
    background-color: $primary-color
    color: choose-contrast-color($primary-color)

.box.inverse
    background-color: lighten(black, 20%)
    color: white
@media (prefers-color-scheme: dark)
    .box.inverse
        background-color: white
        color: black
@if $dark-theme
    .box.inverse
        background-color: white
        color: black

.box.rounded
    border-radius: 8px

@media only screen and (max-width: 768px)
    .box
        padding: 5px