
a
    border-bottom: 1px solid $primary-color
    text-decoration: none
    color: $primary-color

a:hover, a:focus
    color: lighten($primary-color, 20%)
    outline: none
    border-bottom: 2px solid $primary-color

a:active
    background-color: $primary-color
    color: choose-contrast-color($primary-color)
    text-decoration: none