
.navbar
    width: 100%
    height: 30px
    display: flex
    background-color: white

.navbar.sticky
    position: fixed

.navbar.top
    border-bottom: 1px solid grey

.navbar.bottom
    border-top: 1px solid grey

.navbar.primary
    background-color: $primary-color
    color: choose-contrast-color($primary-color)

.navbar.inverse
    background-color: lighten(black, 20%)
    color: white

.navbar.distributed
    justify-content: space-between

.navbar .navbar-component
    display: flex

.navbar .navbar-item
    margin: 5px

.navbar.primary a.navbar-item
    color: choose-contrast-color($primary-color)
    border-bottom: 1px solid white

.navbar a.navbar-item:hover
    border-bottom: 2px solid $primary-color

.navbar.primary a.navbar-item:hover, .navbar.primary a.navbar-item:focus
    border-bottom: 2px solid choose-contrast-color($primary-color)
    color: rgba(white, 0.7)

.navbar.primary a.navbar-item:active
    background-color: darken($primary-color, 10%)

.navbar a.navbar-item + a.navbar-item
    border-left: 1px solid grey

.navbar a.navbar-item.active
    background-color: $primary-color
    color: white
    font-weight: bold

.navbar.primary a.navbar-item.active
    background-color: choose-contrast-color($primary-color)
    color: $primary-color

@media (prefers-color-scheme: dark)
    .navbar
        background-color: lighten(black, 20%)
        color: white
@if $dark-theme
    .navbar
        background-color: lighten(black, 20%)
        color: white

@media only screen and (max-width: 768px)
    .navbar
        height: auto
        flex-direction: column
    .navbar .navbar-item
        width: 100%
        padding: 10px
    .navbar a.navbar-item, .navbar a.navbar-item:hover, .navbar.primary a.navbar-item, .navbar.primary a.navbar-item:hover
        border-bottom: none
    .navbar a.navbar-item.active
        background-color: $primary-color
        color: white