
.sidebar
    display: flex
    flex-direction: column

@media (prefers-color-scheme: dark)
    .sidebar
        background-color: lighten(black, 10%)
@if $dark-theme
    .sidebar
        background-color: lighten(black, 10%)

.sidebar.left
    border-right: 1px solid grey

.sidebar.right
    border-left: 1px solid grey

.sidebar .sidebar-item
    margin-top: 10px
    margin-bottom: 10px
    margin-left: 10px
    padding-right: 40px

.sidebar .sidebar-section-header
    margin-top: 20px
    color: grey
    font-weight: bold

@media only screen and (max-width: 768px)
    .sidebar.left
        border-right: none
    .sidebar.right
        border-left: none