doctype html
html

head
    meta(charset="utf-8")
    title openbrutal demo
    link(href="index.sass" rel="stylesheet")

body
    .fill-page.vertical-tile
        block header
        block content
        .navbar.bottom.distributed
            .navbar-component
                a.navbar-item(href="https://gitlab.com/websuggest/openbrutal")
                        img(src="gitlab-icon-rgb.svg" alt="Gitlab logo" class="icon")
                        | source code
            .navbar-component
                .navbar-item Made with ❤️ by Jeremy Potter &lt;<a href="mailto:jwinnie@stormdesign.us">jwinnie@stormdesign.us</a>&gt;