extends _base.pug

block header
    .navbar.top.distributed.primary
            .navbar-component
                a.navbar-item(href="index.pug") home
            .navbar-component
                a.navbar-item.active(href="documentation.pug") docs

block content
    .page-body
        .horizontal-tile
            .sidebar.left
                .sticky
                    .sidebar-item
                        a(href="#installation") Installation
                    .sidebar-item
                        a(href="#configuration") Configuration
                    .sidebar-item
                        a(href="#typography") Typography
                    .sidebar-item
                        a(href="#layout") Layout
                    .sidebar-item.sidebar-section-header Components
                    .sidebar-item
                        a(href="#box") Box
                    .sidebar-item
                        a(href="#buttons") Buttons
                    .sidebar-item
                        a(href="#navbar") Navbar
                    .sidebar-item
                        a(href="#sidebar") Sidebar
            .box
                h1 Documentation
                h2#installation Installation
                p If you don't want to use a module bundler, the simplest option is to use the <a href="#">unpkg</a> Content Delivery Network (CDN):
                pre
                    code &lt;link rel="stylesheet" href="https://unpkg.com/"&gt;
                p If you're using a module bundler like <a href="#">Webpack</a> or <a href="#">Parcel</a>, using OpenBrutal is as simple as installing the <code>openbrutal</code> package from <a href="#">NPM</a> and adding <code>@import "~openbrutal/sass/brutal.sass"</code> to your main CSS file. If you don't have a CSS file you can include it inside your JavaScript file with <code>import "~openbrutal/sass/brutal.sass";</code> (most modern module bundlers support importing CSS from JavaScript and either inline the CSS or extract it to a separate file). Note that your module bundler has to support SASS (if you're using Webpack you must install the <a href="#">SASS plugin</a>).
                h2#configuration Configuration
                p You can configure OpenBrutal by making a SASS file and setting variables before you import OpenBrutal itself, like this:
                pre
                    code.
                        $dark-theme: true
                        $primary-color: purple
                        @import "~openbrutal/sass/brutal.sass"
                p OpenBrutal is optimized for both light and dark color schemes. By default, the color scheme is picked based on the user's preference through the cross-platform standard <code>@media (prefers-color-scheme)</code>, but you can manually force a dark color scheme by setting <code>$dark-theme: true</code>.
                p It is recommended to change the accent color by setting <code>$primary-color</code> to a color of your choice. Note that this color should contrast with both white and black so that it can be seen with both light and dark color schemes.
                h2#typography Typography
                p Many common HTML elements have been tweaked to offer maximum visual hierarchy, contrast, and mobile-friendliness. No further action is required to use this feature.
                .horizontal-tile
                    .half-width
                        pre.full-height.wrap
                            code.
                                &lt;h1&gt;h1. Hello, World!&lt;/h1&gt;
                                &lt;h2&gt;h2. Hello, World!&lt;/h2&gt;
                                &lt;h3&gt;h3. Hello, World!&lt;/h3&gt;
                                &lt;h4&gt;h4. Hello, World!&lt;/h4&gt;
                                &lt;h5&gt;h5. Hello, World!&lt;/h5&gt;
                                &lt;code&gt;Hello, World!&lt;/code&gt;
                                &lt;pre&gt;&lt;code&gt;Hello, World!&lt;/code&gt;&lt;/pre&gt;
                                &lt;ul&gt;
                                    &lt;li&gt;&lt;p&gt;List Item 1&lt;/p&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;p&gt;List Item 2&lt;/p&gt;&lt;/li&gt;
                                &lt;/ul&gt;
                                &lt;blockquote&gt;This is a great blockquote &lt;cite&gt;&amp;mdash; Lord Potter&lt;/cite&gt;&lt;/blockquote&gt;
                    .half-width
                        .box.inverse.full-height.
                            <h1>h1. Hello, World!</h1>
                            <h2>h2. Hello, World!</h2>
                            <h3>h3. Hello, World!</h3>
                            <h4>h4. Hello, World!</h4>
                            <h5>h5. Hello, World!</h5>
                            <code>Hello, World!</code>
                            <pre><code>Hello, World!</code></pre>
                            <ul>
                                <li><p>List Item 1</p></li>
                                <li><p>List Item 2</p></li>
                            </ul>
                            <blockquote>This is a great blockquote <cite>&mdash; Lord Potter</cite></blockquote>
                p Icons can be embedded within text with the <code>.icon</code> class. This is useful for buttons and links.
                .horizontal-tile
                    .half-width
                        pre.full-height.wrap
                            code.
                                GitLab is &lt;img src="gitlab-icon-rgb.svg" class="icon"&gt; cool!
                    .half-width
                        .box.inverse.full-height.
                            GitLab is <img src="gitlab-icon-rgb.svg" class="icon"> cool!