extends _base.pug

block header
    .navbar.top.distributed
            .navbar-component
                a.navbar-item.active(href="index.pug") home
            .navbar-component
                a.navbar-item(href="documentation.pug") docs

block content
    .fill-remaining.box
        h1 OpenBrutal
        p.text.big OpenBrutal is a design philosophy that recognizes that computing is innately boring and frustrating for most people. It rejects abstract concepts like “flat design,” “skeumorphism,” and “material design,” instead using a pragmatic design style that places importance on simplicity, accessibility, consistency and usability.
        p.text.big OpenBrutal.CSS is a simple and opinionated ___kB (___kB gzip) implementation of OpenBrutal written in SASS and based on Flexbox. In order to offer a better experience by using modern CSS features, it only supports modern browsers. You can get it on <a href="#">NPM</a>.
        h2 Philosophy
        blockquote(cite="Antoine de Saint-Exupéry") Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.<cite>&mdash; Antoine de Saint-Exupéry</cite>
        .horizontal-tile
            .box
                h3 Function over form
                p Computers are not toys; they are tools for getting things done, like wrenches or washing machines. Always choose functionality, usability, and simplicity over aesthetics. Fancy images, animations, etc. that increase page size and slow everything down should be avoided if possible.
            .box
                h3 Consistency
                p Most users can't even tell the difference from one application to the next. On the other hand, consistency and familiarity enhance usability, so adopt as much as possible the fonts, themes, and design language of the user's platform. Limit branding to a tasteful logo and and an inoffensive accent color.
            .box
                h3 Tactility &amp; responsiveness
                p Everything that the user does should have a fast and obvious result. If the software reacts consistently and speedily to user inputs, the user can learn the software through classical conditioning. If the software freezes, or if the feedback mechanism is too subtle, the user becomes frustrated and views the software as unpredictable.
            .box
                h3 Accessibility &amp; usability
                p Images and icons can complement text for aesthetic purposes, but they should never replace text. All software should be usable using mouse, keyboard, trackpad, and touchscreen, and there should be enough contrast so that all interface elements are easily distinguishable. Support for dark themes and mobile devices should be first-class.
        h2 Credits
        ul
            li
                p Inspired by Drew Devault's <a href="https://drewdevault.com/2019/03/04/sourcehut-design.html">"Spartan Web Design"</a>
            li
                p Includes <a href="https://necolas.github.io/normalize.css/">Normalize.CSS</a> for sane defaults and bugfixes for strange browser behaviors
